#sly-message{
    position: fixed; 
    display: flex !important;
    top: 1%;
    left: 2.5%;
    width: 95%;
    justify-content: space-between;
    align-items: center;
}
@media screen and (max-width: 400px){
    #sly-message{
        top: 0.25%;
        left: 0.25%;
        width: 99.5%;
    }
}